.watchers-header(
    ng-show="vm.isEditable(vm.project, vm.requiredPerm) || vm.watchers.length > 0",
    ng-class="{'no-watchers': vm.isEditable(vm.project, vm.requiredPerm) && vm.watchers.length == 0}")

    span.title(ng-bind="getTitle()")

    a.icon.icon-plus.add-watcher(ng-show="vm.isEditable(project, requiredPerm)",
        href="",
        ng-click="vm.addWatcher(watched)",
        tg-bo-title="getTitle()")

.watcher-single(ng-repeat="watcher in watchers")
    .watcher-avatar
        img(src="{{ watcher.photo }}" alt="{{ watcher.full_name_display }}")
    .watcher-name
        span {{ watcher.full_name_display }}

        a.icon.icon-delete(ng-show="vm.isEditable(project, requiredPerm)",
            ng-click="vm.deleteWatcher(watched, watcher, usersById)"
            href="",
            title="{{'WATCHERS.DELETE' | translate}}")
